{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block extrastyle %}
  <style type="text/css">
    .socialaccount_providers{
      list-style: none;
      padding: 0;
      margin: 3rem;
    }
    .socialaccount_providers li{
      display: inline;
      margin: 0 1rem;
      width: 100%;
      
    }
    a.socialaccount_provider{
      color: white;
      
      border-radius: 3px;
      padding: 1rem 2rem;
      display: inline-block;
      width: 100%;
      text-align: center;
      font-weight: bold;

    }
    a.socialaccount_provider.facebook{
      background-color: #3B5998;
    }
    a.socialaccount_provider.google{
      background-color: #db3236;
    }

    label{ width: 150px; }

  </style>
{% endblock extrastyle %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-sm-12">
          
      <h1 class="text-center">{% trans "Sign In" %}</h1>
      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <div>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</div>

      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers d-flex justify-content-center">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        <div>
        {% csrf_token %}
        {{ form|crispy}}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction btn btn-outline-danger" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="primaryAction btn btn-outline-danger" type="submit">{% trans "Sign In" %}</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
