[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"
django-debug-toolbar = "*"
ipython = "*"

[packages]
algoliasearch-django = "*"
boto3 = "*"
django = "~=2.2"
django-extensions = "*"
django-location-field = "*"
django-rest-framework = "*"
django-crispy-forms = "*"
django-storages = "*"
django-jet = "*"
django-allauth = "*"
django-ckeditor = "*"
django-dynamic-filenames = "*"
django-stdimage = "*"
django_select2 = "*"
algoliasearch-django = "*"
django-user-agents = "*"
psycopg2-binary = "*"
rollbar = "*"

[requires]
python_version = "3.7"
