[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"
django-debug-toolbar = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-extensions = "*"
django-location-field = "*"
django-rest-framework = "*"
django-crispy-forms = "*"
django-storages = "*"
boto3 = "*"
django-jet = "*"
django-allauth = "*"
rollbar = "*"
django-ckeditor = "*"

[requires]
python_version = "3.7"
