{% extends "base.html" %}
{% load static i18n account %}

{% block extrastyle %}
  <style type="text/css">
    #profile_photo_preview {
      height: auto;
      max-width: 220px;
    }
  </style>
{% endblock %}

{% block content %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

  <div class="container">
      <div class="row">
          <div class="col">
              <h2 class="flow-text">{% trans "Update your information" %}</h2>

              <div class="profile_image" name="profile_image">
                <div class="avatar">
                  <img id="profile_photo_preview" class="img-responsive rounded-circle middle"  src="{{ user.profile.get_picture_thumbnail}}"/>
                </div>
                <form id="profile_photo_form" method="POST" action={% url 'profile_picture_url' %} enctype="multipart/form-data">
                  {% csrf_token %}
                  <input id="profile_photo_input" style="color: transparent;" id="id_photo" name="photo" type="file" >
                  <button type="submit" class="btn btn-info">
                    {% trans "Save Profile Photo" %}
                  </button>
                </form>
              </div>

              <form action="." method="POST" class="padding">
                  {% csrf_token %}
                  {{ user_form.as_p }}
                  {{ profile_form.as_p }}
                  <button type="submit" class="btn btn-primary">
                    {% trans "Submit" %}
                  </button>
              </form>
          </div>
      </div>
  </div>
{{user.get_profile_pic}}
{% endblock %}

{% block extrajs %}
  {{block.super}}
  <script type="text/javascript">
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#profile_photo_preview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#profile_photo_input").change(function() {
      readURL(this);
    });
  </script>
{% endblock %}
