{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}

{% block content %}
<script type="text/javascript">
    if( !$("id_coordinate").val() ) {
        $("#id_coordinate").val("13.6741719,100.6083957");
    }
</script>
<div class="container story">
    <div class="row">
        <div class="col">
            <form method="post">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <button class="btn btn-outline-danger" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
    {{ block.super }}
    {{form.media}}
    


{% endblock extrajs %}