{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js"></script>

<div class="container story">
    <div class="row">
        <div class="col">
            <form method="post">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <button class="btn btn-outline-danger" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    if( !$("id_coordinate").val() ) {
        $("#id_coordinate").val("13.6741719,100.6083957");
    }
</script>
    {{form.media}}
    


{% endblock extrajs %}