{% extends "base.html" %}
{% load static i18n %}
{% block extrastyle %}
<meta name="description" content="{{ object.description|striptags|truncatechars:100 }}">
<meta property="og:url" content="https://scarylog.me{{object.get_absolute_url}}" />
<meta property="og:title" content="ScaryLog: {{ object.name }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ object.description|striptags|truncatechars:100 }}" />
<meta property="article:author" content="{{ object.author }}" />
<meta property="og:site_name" content="https://scarylog.me" />
<meta property="og:image" content="{{ STATIC_URL }}{% static "card.jpg" %}" />
<meta property="fb:app_id" content="864575323935503" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hellocookly">
<meta name="twitter:creator" content="@hellocookly">
<meta name="twitter:title" content="{{ object.name }}">
<meta name="twitter:description" content="{{ object.description|striptags|truncatechars:100 }}">
<meta name="twitter:image" content="{{ STATIC_URL }}{% static "card.jpg" %}">
<meta name="twitter:image:alt" content="{{ object.name }}">
<style type="text/css">
    .jumbotron{
        background-image: 
        linear-gradient(to top, rgba(52, 58, 64, 1) 20%, rgba(0,0,0, 0.2) 100%),
        url({% static "bg.jpg" %});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        /*height: 450px;*/
    }

    body{
        background: none;
    }
    .story-caption {
        margin: auto;
    }

    .profile{
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        width: 150px;
        margin-top: 5rem;
    }

    .story-caption h1{
            color: #b93f04;
        }
    .vertical-center {
        min-height: 100%;
        display: flex;
        align-items: center;
    }
    .author {
        margin-top: 1rem;
        color: #b93f04;
    }
</style>
{% endblock extrastyle %}

{% block content %}
<div class="jumbotron vertical-center">
    <div class="story-caption">
        <h1 class="text-center">{{ object.name }}</h1>
        <img src="{{STATIC_URL}}{{ object.author.profile.photo.thumbnail|default:'avatar.jpg'}}" class="rounded-circle mx-auto d-block profile" alt="{{ object.author }}">
        <div class="text-center author">{{ object.author }}</div>
        <div class="text-center ">{{ object.author }}</div>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="sharethis-inline-share-buttons"></div>
            <p class="card-text">{{ object.description|safe }}</p>
            <div class="sharethis-inline-share-buttons"></div>
            <p>{{ object.created_at|timesince }}</p>
            {% if request.user == object.author %}
                <a class="btn btn-primary" href="{{object.get_update_url}}">{% trans "Edit Story" %}</a>
            {% endif %}
        </div>
    </div>    
</div>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% if not user.is_authenticated %}
    <script>
        function remindLogin() {
            // Remind user login
            $.notify({
                message: '{% trans "For got to login? Click here to signup/login." %}',
                url: "/accounts/login/?next={{ request.path }}",
                target: "_self"
            }, {
                animate: {enter: 'animated fadeInUp', exit: 'animated fadeOutDown'},
                type: 'warning',
                placement: {
                    from: 'bottom',
                    align: 'right'
                },
                spacing: 5,
                delay: 5000,
            });
        }

        setTimeout(function () {
            remindLogin()
            setInterval(remindLogin, 30000)
        }, 3500);
    </script>
    {% endif %}
{% endblock %}