{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<div class="container">
  <div class="row">
    {% for object in object_list %}
    <div class="col-md-3 col-sm-12">
      <div class="card story-card">
        <div class="card-body">
          <h5 class="card-title"><a href="{{object.get_absolute_url}}">{{object.name}}</a></h5>
          <p class="card-text">{{ object.description|truncatechars_html:100|safe }}</p>
          {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
          <p class="card-text created">{{ object.updated_at|timesince }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}